{% extends "base.html" %}

{% block title %}Search Results{% endblock %}

{% block content %}
    <h3 class="center-align purple-text text-darken-3">Search Results</h3>

    <ul>
        {% if events %}
            {% for event in events %}
                <li>
                    <a href="{{ url_for('event_detail', event_id=event.id) }}">{{ event.title }}</a>
                    <p>{{ event.date }} at {{ event.location }}</p>
                </li>
            {% endfor %}
        {% else %}
            <li>No events found matching your search.</li>
        {% endif %}
    </ul>
{% endblock %}
